{% extends 'base.html' %}

{% block content %}
    <h1>{{ meditation.meditation.title }}</h1>

    <div id="player"></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{ meditation.meditation.youtube_id }}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      function onPlayerStateChange(event) {
        if (event.data === 0) {
            fetch('{{ url_for('main.register_meditation') }}', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    daily_meditation_id: {{ meditation.id }}
                })
            })
            .then(response => response.json())
            .then(response => {
                if (response['status'] === 'success') {
                    window.location.href = '{{ url_for('main.dashboard') }}'
                }
            });
        }
      }
    </script>
{% endblock %}